.image-container {
  position: relative;
  width: 100%;
  padding-left: 20px;
}

/* Full width banner */
.reto-image {
  width: 100%;
  height: 700px;
  object-fit: cover;
    object-position: 45% 15%;

}

/* Text on the left */
.image-text {
  position: absolute;
  top: 50%;
  left: 6%;
  transform: translateY(-50%);

  max-width: 520px;

  color: rgb(41, 100, 167);
  font-weight: 750;
  text-align: left;

  font-size: clamp(2.1rem, 2.8vw, 2.8rem);
  line-height: 1.5;

  text-shadow: 0 3px 10px rgba(204, 189, 74, 0.7);
}

/* MOBILE */
@media (max-width: 768px) {
  .reto-image {
    height: 250px;
  }

  .image-text {
     top: 35%;
    left: 6%;
    transform: translateY(-50%);
    max-width: 60%;
    font-size: clamp(1rem, 4vw, 1.4rem);
  }
}

.humanitarian-corridor {
     width: 99%;
}

.button {
  padding: 10px;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: bold;
  background-color: #5acb5e;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
}

.button:hover {
  background-color: #d8e3d9;
  color: rgb(228, 77, 77);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
}
.buttons-reto {
  display: flex;
  justify-content: flex-end;
  gap: 15px;

  position: absolute;
  bottom: 30px;
  right: 6%;

  z-index: 2;
}



/* Responsive */
@media (max-width: 768px) {
    
  .christmas-text-group div {
    font-size: 1.1rem;
  }

  .button{
    font-size: 12px;
  }

  .buttons-reto{
    gap: 5px;
    flex-direction: column;
    right: 10%;
  }
}

@media (max-width: 480px) {
  .christmas-text-group div {
    font-size: 1.1rem;
  }
}
