.christmas-banner {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
}

.humanitarian-corridor {
  position: relative;
  display: flex;
  justify-content: center;
}

.button {
  padding: 10px;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: bold;
  background-color: #5acb5e;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
}

.button:hover {
  background-color: #d8e3d9;
  color: rgb(228, 77, 77);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
}
.buttons-reto {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 15px;
  position: absolute;
  bottom: 30px;
  right: 15%;
  z-index: 2;
}



/* TEXT CONTAINER */
.christmas-text-group {
  position: absolute;
  bottom: 20px;
  left: 45%;
  transform: translateX(-50%);
  color: #467b60;
  font-weight: bold;
  text-align: center;
  text-shadow: 0 4px 10px rgba(0, 0, 0, 0.6);
  letter-spacing: 2px;
  z-index: 2;
}

/* EACH LINE */
.christmas-text-group div {
  font-size: 2.2rem;
  line-height: 1.1;
}

/* Responsive */
@media (max-width: 768px) {
    
  .christmas-text-group div {
    font-size: 1.1rem;
  }

  .button{
    font-size: 12px;
  }

  .buttons-reto{
    gap: 5px;
    flex-direction: column;
    right: 10%;
  }
}

@media (max-width: 480px) {
  .christmas-text-group div {
    font-size: 1.1rem;
  }
}
