.contact-page {
    display: flex;
    justify-content: space-around;
    margin: 20px;
  }
  
  .location,
  .contact-form {
    width: 100%; /* Adjust as needed */
  }
  .location-title,
  .contact-title{
   text-align: start;
  }
  .mail-text{
    color: #2fb746;
  }
.contact-subtitle{
    text-align: start;
    color: #1bb334;
  }
.fundacion-pic{
    object-fit: cover;
    max-width:70%;
}

@media (max-width: 968px){
  .contact-page {
    flex-direction: column;
    margin: 0;
    padding: 10px;
  }
  .fundacion-pic{
    
    max-width: 90%;
  }
}