.contact-page {
  display: flex;
  justify-content: space-around;
  margin: 20px;
  gap: 20px; /* Añade espacio entre las secciones */
}

.location {
  width: 60%; /* Ocupa un 60% del espacio total para la imagen */
}

.contact-form {
  width: 25%; /* Ocupa un 35% del espacio total para el formulario de contacto */
}

.fundacion-pic {
  object-fit: cover;
  width: 70%; /* La imagen ocupará el 100% del contenedor de ubicación */
  height: auto;
  border-radius: 8px; /* Opcional: añade bordes redondeados */
}

.contact-title,
.location-title {
  text-align: start;
}

.mail-text {
  color: #2fb746;
}

.contact-subtitle {
  text-align: start;
  color: #1bb334;
}

@media (max-width: 968px) {
  .contact-page {
    flex-direction: column;
    margin: 0;
    padding: 10px;
  }
  .location,
  .contact-form {
    width: 100%; /* Asegura que ambos elementos ocupen el 100% en pantallas pequeñas */
  }
  .fundacion-pic {
    width: 100%;
    max-width: 100%;
  }
}