
.equipo-container {
  padding: 40px;
  background-color: #f5f5f5; 
  max-width: 1400px;
  margin: 0 auto;
  border-radius: 16px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
}


.equipo-title {
  font-size: 42px;
  text-align: center;
  padding: 20px;
  margin-bottom: 30px;
  color: #4c4949; 
  font-weight: bold;
  margin-top: -30px;
  background-color: #dedbdb;
  border-radius: 0; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  width: 100%; 
  padding-left: 0; 
  padding-right: 0; 
}


.profiles {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  justify-content: center;
  padding: 20px;
  margin-top: -40px;
}

.profile {
  background-color: #ffffff; 
  border: 1px solid #e0e0e0;
  border-radius: 16px;
  padding: 20px;
  width: 250px; 
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.profile:hover {
  transform: translateY(-10px); 
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.2); 
}


.profile img {
  width: 180px;
  height: 180px; 
  border-radius: 50% 20% 50% 20%; 
  margin-bottom: 15px;
  object-fit: cover;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.profile h2 {
  font-size: 18px;
  color: #303330;
  margin-bottom: 10px;
  font-weight: bold;
}

.email-link {
  color: #0b1015; 
  text-decoration: underline; 
  cursor: pointer;
}

.email-link:hover {
  color: #027afb;
}


.profile p {
  font-size: 14px;
  color: #666;
  margin-bottom: 8px;
}


@media (max-width: 1024px) {
  .profiles {
    grid-template-columns: repeat(3, 1fr); 
  }
}

@media (max-width: 768px) {
  .equipo-container {
    padding: 20px;
  }

  .profiles {
    grid-template-columns: repeat(2, 1fr);
    justify-content: center; 
  }

  .profile {
    width: 100%; 
  }
}

@media (max-width: 480px) {
  .profiles {
    grid-template-columns: 1fr; 
  }

  .equipo-title {
    font-size: 30px; 
  }

  .profile {
    padding: 15px;
  }

  .profile h2 {
    font-size: 16px;
  }

  .profile p {
    font-size: 12px;
  }
}
