.event-title {
  font-size: 50px;
  padding-bottom: 20px;
  color: rgb(108, 182, 133);
  background-color: rgb(65, 70, 67);
  text-align: center;
}

.Event-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Ajusta el tamaño mínimo para que las tarjetas se vean más consistentes */
  gap: 20px;
  margin: 0 auto;
  padding: 20px;
  max-width: 1200px; /* Limita el ancho total del contenedor */
  box-shadow: 0 4px 8px rgba(74, 147, 79, 0.1);
}

.event-card {
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
  margin: 10px;
  width: 100%; /* Ajusta el ancho de cada tarjeta para que ocupe todo el espacio asignado */
  max-width: 350px; /* Limita el ancho máximo para mantener una apariencia más uniforme */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Agrega un efecto de sombra para mejorar el contraste */
}

.event-card-image {
  width: 100%;
  height: 250px; /* Reduce un poco la altura para mejorar el aspecto en pantallas más pequeñas */
  object-fit: cover;
}

.event-card-content {
  padding: 20px;
  text-align: center; /* Centra el contenido dentro de cada tarjeta */
}

.event-name {
  font-size: 1.5rem;
  margin-bottom: 10px;
  font-weight: bold;
}

.event-details {
  font-size: 1rem;
}


/* Ajustes para pantallas más pequeñas */
@media (max-width: 968px) {
  .Event-container {
      grid-template-columns: 1fr; /* Una columna en pantallas pequeñas */
      padding: 10px;
  }

  .event-card-image {
      height: 200px;
  }

  .event-name {
      font-size: 1.3rem;
  }

  .event-details {
      font-size: 1rem;
  }
}
