/* General Styles */
.huerto-container {
  background-color: #f5f5f5; /* Fondo claro */
  padding: 40px;
  border-radius: 16px;
  max-width: 1400px;
  margin: 5px auto; /* Ajustar el margen a 20px arriba y abajo para reducir el espacio */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
  padding: 5px;
}

/* Header Section */
.huerto-header {
  width: 100%;
  height: 25vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url('../Fcimages/huerto background.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Sombra consistente */
}

.huerto-section__title {
  font-size: 50px !important;
  -webkit-text-stroke: 1px black;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

/* Content Section */
.huerto__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 30px;
  margin-top: 40px;
}

/* Paragraph Section */
.huerto-para {
  background-color: #e3e3d8;
  padding: 40px;
  border-radius: 12px;
}

.huerto__text {
  margin: 0 auto;
  color: #03993a;
  font-size: 22px;
  max-width: 1000px; /* Limitar el ancho de los textos */
  line-height: 1.6;
}

/* Image Section */
.huerto-image-container {
  display: flex;
  justify-content: center;
  margin-top: 60px;
  margin-bottom: 60px;
}

.huerto-pic {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Mostrar las imágenes en una cuadrícula de 3 columnas */
  gap: 20px; /* Espacio de 5px entre las imágenes */
  width: 90%;
}

.huerto-pic img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.huerto-pic img:hover {
  transform: scale(1.15); /* Ampliar la imagen al pasar el cursor */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Aumentar la sombra para dar un efecto de flotación */
}

/* Generic Card Section */
.generic-card {
  background-color: #ffffff;
  border-radius: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  width: 90%;
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  text-align: center;
}

.generic-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.generic-card-img-top {
  width: 100%;
  height: auto;
  max-height: 300px;
  object-fit: cover;
  border-radius: 8px;
}

.generic-card-body {
  background-color: #f8f3e6;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}

.generic-card-title {
  font-size: 24px;
  color: #4b3e02;
  font-weight: bold;
}

.generic-card-text {
  color: #737373;
  font-size: 16px;
  line-height: 1.5;
  margin-top: 10px;
}

/* Generic Intro Card Section */
.generic-intro-card-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
  margin-top: 35px;
}

.generic-intro-card {
  background-color: #d9d7d0;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 300px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.generic-intro-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.generic-intro-card h2 {
  color: #4b3e02;
  font-size: 22px;
  margin-bottom: 10px;
}

.generic-intro-card p {
  color: #423e3e;
  font-size: 16px;
  line-height: 1.5;
  background-color: #f8f3e6;
  padding: 15px;
  border-radius: 8px;
}

/* Media Queries */
@media (max-width: 968px) {
  .huerto-section__title {
    font-size: 35px !important;
  }

  .huerto__text {
    margin: 20px;
    font-size: 20px;
  }

  .huerto-pic {
    grid-template-columns: repeat(2, 1fr); /* Cambiar a dos columnas en pantallas más pequeñas */
  }

  .huerto-pic img {
    height: 200px;
  }

  .generic-intro-card-container {
    flex-direction: column;
    gap: 30px;
  }

  .generic-card {
    width: 95%;
    margin: 1rem auto;
  }
}

@media (max-width: 480px) {
  .huerto-section__title {
    font-size: 28px;
  }

  .huerto__text {
    font-size: 18px;
  }

  .huerto-pic {
    grid-template-columns: 1fr; /* Cambiar a una columna en pantallas muy pequeñas */
  }

  .huerto-pic img {
    height: 150px;
  }

  .generic-card-title {
    font-size: 20px;
  }

  .generic-card-text {
    font-size: 14px;
  }

  .generic-intro-card {
    width: 95%;
  }
}
