.MV-container {
  margin-top: 20px;
  margin-bottom: 70px;
  padding: 20px; 
  border-radius: 20px; 
  background-color: #f8f8f8; 
  width: 90%; 
  max-width: 1200px; 
  margin-left: auto; 
  margin-right: auto; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  margin-bottom: 20px;
}

.Mission-card,
.Values-card,
.Vission-card {
  display: flex;
  overflow: hidden;
  justify-content: space-between; 
  margin: 20px auto;
  padding: 20px; 
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  background-color: #fff; 
  max-width: 100%; 
}

.Mission-card-text,
.Values-card-text,
.Vission-card-text {
  flex: 1.5;
  padding: 40px; 
  border-radius: 10px;
}

.Mission-card-text {
  background-color: rgba(203, 238, 211, 0.8); 
  color: #454444;
}

.Values-card-text {
  background-color: rgba(203, 238, 211, 0.8); 
  color: #454444;
}

.Vission-card-text {
  background-color: rgba(79, 82, 77, 0.9); 
  color: #80be9f;
}

.Mission-card-image,
.Values-card-image,
.Vission-card-image {
  flex: 1;
  border-radius: 10px; 
  overflow: hidden; 
}

.Mission-card-image img,
.Values-card-image img,
.Vission-card-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px; 
}


@media (max-width: 968px) {
  .Mission-card,
  .Values-card,
  .Vission-card {
      flex-direction: column;
      padding: 20px;
  }

  .Mission-card-text,
  .Values-card-text,
  .Vission-card-text {
      padding: 20px;
      margin-bottom: 20px;
  }

  .Mission-card-image img,
  .Values-card-image img,
  .Vission-card-image img {
      width: 100%;
      height: auto; 
  }
}
