
.language-container {
    display: flex;
    gap: 10px;
    margin-left: 20px;
    font-size: 1.1rem;
    position:static;
  }
  

  .language-btn {
    background-color: #4caf50; 
    color: white; 
    border: none; 
    padding: 10px 15px; 
    cursor: pointer; 
    border-radius: 5px; 
    align-self:flex-end;
  }
  